*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.score{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #024e02;
    color: white;
}

.score #scoreh1{
    font-family: fantasy;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
}

select{
    border-style: none;
    font-size: 14px;
    border-radius: 2px;
    padding: 2px;
    background-color: lightgreen;
}

select option{
    color: green;
    padding: 2px;

}

#game{
    height: 90vmin;
    width: 90vmin;
    margin-top: 5px;
    background: radial-gradient(rgb(121, 177, 121),rgb(63, 129, 65));
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
    transition: all 0.7s;
   
}

.head{
    background:linear-gradient(20deg,brown,black);
    transition: all 0.7s;
    border-radius: 4px;
}
.snake{
    background: linear-gradient(20deg,brown,gray);
    transition: all 0.7s;
    border-radius: 1.5px;
}
.food{
    background: linear-gradient(green ,red);
    background-image: url(/assets/apple.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.7s;
    border-radius: 3px;

}

.title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(82, 117, 131);
    text-transform: capitalize;
    position: absolute;
    bottom: 1px;
    opacity: 0.8;
}
