*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgb(110, 168, 190),rgb(194, 165, 112));
    background-image: url(assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(248, 193, 10);
    background-blend-mode:luminosity;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.score{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #4e3a02;
    color: white;
    box-shadow: 0px 10px 20px 0px rgb(0,0,0,30%);
}

.score #scoreh1{
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
}

select{
    border-style: none;
    font-size: 14px;
    border-radius: 2px;
    padding: 2px;
    background-color: rgb(238, 197, 144);
}

select option{
    color: rgb(126, 128, 0);
    padding: 2px;

}

#game{
    height: 90vmin;
    width: 90vmin;
    margin-top: 5px;
    /* background: radial-gradient(rgb(121, 177, 121),rgb(63, 129, 65)); */
    background-color: rgb(129, 87, 8);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    transition: all 0.7s;
    box-shadow: 0px 10px 20px 0px rgb(0,0,0,30%);

   
}
/* if game over  */
.game_over{
    width: 300px;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.game_over h3{
    padding: 10px;
    color: #f74343;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

/* snake parts  */
.head{
    background:radial-gradient(#531f1f,#000000 66%);
    transition: all 0.7s;
    border-radius: 4px;
}
.snake{
    background: linear-gradient(20deg,#6b431e,#4b2424);
    transition: all 0.7s;
    border-radius: 1.5px;
}
.food{
    background: linear-gradient(green ,red);
    background-image: url(assets/apple.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.7s;
    border-radius: 3px;


}

/* control for smartphone devices  */
.control{
    height: 100px;
    width: 180px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    display: none;
}
.control div{
    height: 40px;
    width: 40px;
    margin: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: fantasy;
    border: 1px groove rgb(5, 146, 202);
    border-radius: 3px;
    background: radial-gradient(rgb(128, 98, 0),rgb(175, 235, 135));
    color: #f5f5f5;
}

.title{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(82, 117, 131);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* position: absolute;
    bottom: 1px; */
    opacity: 0.8;
}

.title a{
    color: rgb(82, 117, 131);
    text-transform: capitalize;
}

@media screen and (max-width: 560px){
    .control{
        display: flex;
    }
}
